.container {
    .header {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      gap: 8px;
  
      .title {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
  
      .titleIcon {
        color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
      }

      .statusText {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
        margin-left: 8px;
      }
    }
  
    .tag {
      background-color: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(5, 5, 5, 0.06);
      border-radius: 4px;
      padding: 0 4px;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    // 完成状态
    &.statusComplete {
      .header .title {
        color: #52c41a;
      }

      .header .statusText {
        color: #52c41a;
      }
    }

    // 错误状态
    &.statusError {
      .header .title {
        color: #ff4d4f;
      }

      .header .statusText {
        color: #ff4d4f;
      }
    }
  }
  
  .iconWaiting {
    animation: spin 2s linear infinite;
  }
  
  .iconComplete {
    color: #54c41c;
  }
  
  .attemptCompletionTitleIcon,
  .attemptCompletionTitle,
  .attemptCompletionContent {
    color: #54c41c !important;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }
  
  .pre {
    text-wrap: wrap;
  }