.pre {
  text-wrap: wrap;
}

.attemptCompletionTitle {
  color: #419d12 !important;
}

.attemptCompletionContent {
  color: #419d12 !important;
  border-radius: 10px;
  border: 1px dashed;
  padding: 10px;
}